*.swp
*.o
*.la
*.lo

config.log
config.status

cxx_replace
cxx_tokenize
fcxx_replace
fcxx_tokenize
flint
flint_test
fflint
fflint_test

libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
aclocal.m4
Makefile.in

Makefile
configure

.deps/*
autom4te.cache/*
build-aux/*

cxx/.deps/*
cxx/.libs/*
cxx/gtest-1.6.0.zip
cxx/gtest-1.6.0/*
